---
title: Список постов
---

<p><img src='/assets/rss-2-128.png' style='display: inline; vertical-align: middle; width: 1em; height: 1em'> <a href='/feed.xml'>Подписаться на RSS</a></p>

<ul class="posts">
    {% for post in site.posts %}

        {% if page.inline == true %}
            <li class='inlined'>
                <span>{{ post.date | date: "%Y.%m.%d" }}</span> <span class='inlined-post'>{{ post.body }}</a></li>
        {% else %}
            <li><span>{{ post.date | date: "%Y.%m.%d" }}</span>
                <span class='post-category'><a href="/{{post.category | uri_escape}}">[{{post.category}}]</a></span>
                <a href="{{ post.url }}">{{ post.title }}</a>
            </li>
        {% endif %}

    {% endfor %}
</ul>

<!-- -%- indent-width: 2; use-tabs: no; -%- -->
