---
---

@import "{{ site.theme }}";

#downloads {
    display: none;
}

div.container {
    max-width: 80%;
}

#main_content {
	h1 { margin-top: 2.0em; margin-bottom: 1.0em; }
	h2 { margin-top: 1.5em; margin-bottom: 1.0em; }
	h3 { margin-top: 1.5em; margin-bottom: 1.0em; }
	h4 { margin-top: 1.0em; margin-bottom: 1.0em; }
	p  { margin-top: 1.0em; margin-bottom: 1.0em; }

	h1 { border-bottom: 1px dashed rgba(181, 232, 83, 1.0); }

	p  { text-align: justify; }
	b, strong { color: #b5e853; }
}
